# Ignore version control directories
.git/
.github/

# Ignore IDE directories
.vscode/
.vs/

# Ignore build directories
node_modules/
dist/

# Ignore log directories
logs/

# Ignore environment files
.env
.env*

# Ignore sample configuration files
*.conf.sample

# Ignore documentation directories
compodoc/

# Ignore upload directories
uploads/

# Ignore SSL directories
ssl/

# Ignore generated directories
generated/

# Ignore API documentation files
swagger.yaml