<h1>Hello,</h1>
<p>Thank you for registering with us! Please use the following code to verify your account:</p>

<h2>Verification Code: {{otpCode}}</h2>

<p>This code will expire in 5 minutes. If you have any questions, please don't hesitate to contact us.</p>

<p>Sincerely,</p>
<p>TechCell Teams</p>